.circular-gallery {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.circular-gallery canvas {
  width: 100%;
  height: 100%;
  display: block;
}